h1 {
    font-size: 2em;
    text-align: center; /* Center text horizontally */
}

/* stylizace pro jednoduchost */
#tableContainer {
    margin-top: 20px; /* Mezera nad tabulkou */
    margin-bottom: 20px; /* Mezera pod tabulkou */
    margin-left: 10px;
    color: hsl(0, 65%, 46%);
}

table {
    border-collapse: collapse;
    width: 90%;
    background-color: #007bff;
}


.welcome_container {
    text-align: center;
    background-color: #fff;
    width: auto;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login_container h2 {
    text-align: center;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form input[type="submit"] {
    width: auto;
    padding: 10px;
    border: none;
    background-color: #0d3394;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#deleteButton{
    background-color: red;
}

#deleteButton:hover {
    background-color: hsl(0, 87%, 34%);
}

.card {
    background-color: #f4eaea;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: 20px;
    width: 90%;
    height: 100px;
    text-align: center;
    font-size: 20px;
}


.left-panel {
    float: left;
    width: 50%; /* Rozdělení na poloviny */
    padding: 20px;

}

.right-panel {
    float: right;
    width: 50%;
    padding: 30px;
}

.last-value {
    text-align: center;
    font-size: 20px;
    margin-bottom: auto;
}

.graph {
    /* Styly pro graf */
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-value {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}

.value-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;

}

.value-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f0f0f0;
}
