{% extends "parent.html" %}

{% block pagename %} 
    <a class="navbar-brand" href="#">Dashboard</a>
{% endblock %}

{% block username %} 
                    <li class="nav-item">
                        <a class="nav-link" href="#"> {{current_user}} </a>
                    </li>
{% endblock %}

{% block content %}

<script>
    var measuredV = JSON.parse('{{measured_values|tojson}}');    
    console.log("full measuredV");
    console.log(measuredV);       

//loops
    function updateTableandGraph() {
        $.getJSON('api/measurments', function(data) {

            console.log('updateTable');

            // Clear the table
            $('#tableContainer').empty();
    
            // Add new rows to the table
            generateTable(data);
    
            // Update the timestamp of the latest measurement
            if (data.length > 0) {
                latestTimestamp = new Date(data[data.length - 1].timestamp);
            }
            //checkTimestamp();      

            temperatureChart.data.labels = data.map(item => item.id);
            temperatureChart.data.datasets[0].data = data.map(item => item.temperature);
            
            // Update the chart
            temperatureChart.update();  

            humidityChart.data.labels = data.map(item => item.id);
            humidityChart.data.datasets[0].data = data.map(item => item.humidity);
            
            // Update the chart
            humidityChart.update(); 
            
            //update last value

            if (data.length > 0) {
                let highestIdValue = Math.max(...data.map(item => parseInt(item.id)));
    
                // Vyhledání odpovídající teploty
                let temperatureOfHighestId = null;
                let timestampOfHighestId = null;
    
                data.forEach(item => {
                    if (parseInt(item.id) === highestIdValue) {
                        temperatureOfHighestId =  Math.round(item.temperature* 10) / 10;
                        timestampOfHighestId = item.timestamp;
                    }
                });
    
                document.querySelector('.card-title').innerText = "Poslední naměřená hodnota:";
                document.querySelector('.card-text').innerText = timestampOfHighestId + " - " + temperatureOfHighestId + " °C";
            }
        });
            
        }

    function checkTimestamp() {
        console.log("checkTimestamp");
        if (latestTimestamp) {
            var now = new Date();
            var differenceInSeconds = (now - latestTimestamp) / 1000;
            if (differenceInSeconds > 20) {
                // Display a warning if more than 20 seconds have passed since the latest measurement
                alert('Warning: No new value from RPi Pico for more than 20 seconds!');
            }
        }
    }
</script>

<div class="left-panel">

    <div class="card">

        <h5 class="card-title">Poslední naměřená hodnota:</h5>
        <p class="card-text"> NULL </p>
        
        <script>
            highestIdValue = Math.max(...measuredV.map(item => parseInt(item.id)));
        
            // Vyhledání odpovídající teploty
            let temperatureOfHighestId = null;
            let timestampOfHighestId = null;
        
            measuredV.forEach(item => {
                if (parseInt(item.id) === highestIdValue) {
                    temperatureOfHighestId =  Math.round(item.temperature* 10) / 10;
                    timestampOfHighestId = item.timestamp;
                    humidityOfHighestId =  Math.round(item.humidity* 10) / 10;
                }
            });
        
            document.querySelector('.card-title').innerText = "Poslední naměřená hodnota:";
            document.querySelector('.card-text').innerText = timestampOfHighestId + " - " + temperatureOfHighestId + " °C" + " - " + humidityOfHighestId + " %";    
        </script>

    </div>

    <div class="graph">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas id="temperatureChart" style="width:100%;max-width:700px"></canvas>

        <script>

            const xValues = measuredV.map(item => item.id); 
            const yValues = measuredV.map(item => item.temperature);
            
            let temperatureChart = new Chart("temperatureChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Teplota'
                    },
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {}}],
                    }
                }
            });

        </script>
            </div>

    <div class="graph">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                <canvas id="humidityChart" style="width:100%;max-width:700px"></canvas>
            
                <script>
            
                    const xValuesHumidity = measuredV.map(item => item.id); 
                    const yValuesHumidity = measuredV.map(item => item.humidity);
                    
                    let humidityChart = new Chart("humidityChart", {
                        type: "line",
                        data: {
                            labels: xValuesHumidity,
                            datasets: [{
                                fill: false,
                                lineTension: 0,
                                backgroundColor: "rgba(0,0,255,1.0)",
                                borderColor: "rgba(0,0,255,0.1)",
                                data: yValuesHumidity
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Vlhkost'
                            },
                            legend: {display: false},
                            scales: {
                                yAxes: [{ticks: {}}],
                            }
                        }
                    });
            
                </script>
            </div>


    <div class="card" style="margin-bottom: 100px;">
        <div class="card-body">
            <form id="setTemp">
                <div class="form-group">
                    <label for="notificationInput">Zadej teplotu, která aktivuje upozornění:</label>
                    <input type="number" class="form-control" id="notificationInput" name="notificationInput" min="0" required>
                </div>
                <button type="submit" class="btn btn-primary">Aktivovat</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('setTemp').addEventListener('submit', function(event) {
            event.preventDefault();

            var apiKey = null;	
            $.getJSON('api/getApi', function(data) {
                apiKey = data.api_key;
                    if (apiKey) {
                    } 
                    else {
                        console.error("No API key returned");
                        window.location.href = "/apiInstructions";
                        console.log(data.api_key);
                    }
            });

            var temp_notif = document.getElementById('notificationInput').value;
        
            if (temp_notif < 20 || temp_notif > 90) {
                alert("Please enter a number between 20 and 90");
                return;
            }
        
            fetch('/api/setNotification', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    notify: true,
                    temp: temp_notif,
                })
                
            }, alert("Notification set to " + temp_notif + "°C"));
        });
    </script>   

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button onclick="window.location.href='/apiInstructions'" class="btn btn-primary">Instrukce k notifikacím</button>
                </div>
            </div>
        </div>

</div>

<div class="right-panel">
    <div class="table">

        <script src="/static/generateTable.js"></script>
        <div id="tableContainer"></div>

    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Vyber počet záznamů</h5>
            <input type="number" id="deleteData">
            <button id="deleteButton" >Smazat nejstarší</button>
            <button id="showButton">Ukázat poslední</button>

            
            <script>

                document.getElementById('deleteButton').addEventListener('click', function() {
                    deleteData();
                });

                function deleteData() {
                    var measuredV =  JSON.parse('{{measured_values|tojson}}');     
                    var deletecount = parseInt(document.getElementById('deleteData').value);
                
                    if (deletecount < 1 || deletecount > measuredV.length) {
                        alert("Please enter a number between 1 and " +  measuredV.length);
                        return;
                    }
                
                    fetch('/api/measurments/' + deletecount, {
                        method: 'DELETE'
                    }).then(function(response) {
                        return response.json();
                    }).then(function(data) {
                        console.log(data);
                        updateTableandGraph();  
                    }).catch(function(error) {
                        console.error('Error:', error);
                    });
                }

                $(document).ready(function() {
                    var intervalId;  // Declare a variable to hold the interval ID
                    var isShowButtonClicked = false;  // Flag to track whether the show button has been clicked
            
                    // Update the table every 20 seconds
                    intervalId = setInterval(updateTableandGraph, 5000);
            
                    document.getElementById('showButton').addEventListener('click', function() {
                        var showcount = parseInt(document.getElementById('deleteData').value);
            
                        if (showcount < 1 || showcount >  measuredV.length) {
                            alert("Please enter a number between 1 and " +  measuredV.length);
                            return;
                        }

                        if (!isShowButtonClicked) {
                            // If the show button is clicked for the first time, stop the updates and show the selected records
                            
                            $.getJSON('api/measurments', function(data) {
                                // Clear the table
                                $('#tableContainer').empty();
                                var showsmeasuredV = data.slice(-showcount);
                                generateTable(showsmeasuredV);

                            });
                            clearInterval(intervalId);
                            isShowButtonClicked = true;

                            showButton.style.backgroundColor = "#555";

                        } else {
                            // If the show button is clicked again, show all records and resume the updates
                            updateTableandGraph();
                            intervalId = setInterval(updateTableandGraph, 5000);
                            isShowButtonClicked = false;
                            showButton.style.backgroundColor = "#0056b3";
                        }
                    });
                });;
        </script>

        </div>
    </div>
</div>

{% endblock %}
